Client/Maklak.Client.Proxy/Service References/DataSourceServiceReference/DataSource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSource" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IDataSource_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Maklak.Service/DataSource.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Maklak.Service/DataSource.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Maklak.Service/DataSource.svc?xsd=xsd2" namespace="http://tempuri.org/SuggestionDS.xsd" />
      <xsd:import schemaLocation="http://localhost/Maklak.Service/DataSource.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost/Maklak.Service/DataSource.svc?xsd=xsd4" namespace="http://tempuri.org/TreeDS.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSource_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDataSource_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSource_Suggestion_InputMessage">
    <wsdl:part name="parameters" element="tns:Suggestion" />
  </wsdl:message>
  <wsdl:message name="IDataSource_Suggestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuggestionResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSource_Node_InputMessage">
    <wsdl:part name="parameters" element="tns:Node" />
  </wsdl:message>
  <wsdl:message name="IDataSource_Node_OutputMessage">
    <wsdl:part name="parameters" element="tns:NodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSource">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSource/DoWork" message="tns:IDataSource_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSource/DoWorkResponse" message="tns:IDataSource_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Suggestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSource/Suggestion" message="tns:IDataSource_Suggestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSource/SuggestionResponse" message="tns:IDataSource_Suggestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Node">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSource/Node" message="tns:IDataSource_Node_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSource/NodeResponse" message="tns:IDataSource_Node_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSource" type="tns:IDataSource">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDataSource/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suggestion">
      <soap:operation soapAction="http://tempuri.org/IDataSource/Suggestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node">
      <soap:operation soapAction="http://tempuri.org/IDataSource/Node" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IDataSource" type="tns:IDataSource">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IDataSource_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDataSource/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suggestion">
      <soap:operation soapAction="http://tempuri.org/IDataSource/Suggestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Node">
      <soap:operation soapAction="http://tempuri.org/IDataSource/Node" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSource">
    <wsdl:port name="BasicHttpBinding_IDataSource" binding="tns:BasicHttpBinding_IDataSource">
      <soap:address location="http://localhost/Maklak.Service/DataSource.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IDataSource" binding="tns:BasicHttpsBinding_IDataSource">
      <soap:address location="https://localhost/Maklak.Service/DataSource.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>